@import url("https://fonts.googleapis.com/css?family=Rubik");

html,
body {
    margin: 0;
    padding: 0;
    background: #2d2d2d;
    color: #fff;
    font-family: "Rubik", monospace, sans-serif;
}

body {
    display: flex;
    flex-flow: row;
}

.docsContent {
    position: relative;
    display: block;
    max-width: 100%;
    margin-top: 20px;
    margin-left: 350px;
    margin-right: 15%;
    text-align: center;
}

.titleBold {
    font-weight: 500;
    font-size: 40px;
}

.subtitleBold {
    font-weight: 500;
    font-size: 30px;
}

.sectionSubtitleExtraBold {
    font-weight: 700;
    font-size: 25px;
}

.spacing {
    margin-bottom: 10px;
}

.contentLight {
    font-weight: 300;
    font-size: 20px;
}

.contentBold {
    font-weight: 500;
    font-size: 20px;
}

.contentCode {
    display: inline-block;
    font-family: monospace;
    background: #171717;
}